{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<script>
        $(document).ready(function () {
            $('select').material_select();
        });

</script>

    <div class="section"></div>

    <h4 class="teal-text" style="text-align: center;">Agregar Producto</h4>
    <div class="section"></div>

    <div class="container">
        <div class="z-depth-1 grey lighten-4 row"
             style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0 48px; border: 1px solid #EEE;">

            <form id="add-prod" class="col s12 m12" method="post"
                  enctype=multipart/form-data>{% csrf_token %}
                <div class='row'>
                    <div class='col s12 m12'>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12 m12'>
                        &ensp;Nombre del producto:
                        <div class="input-field inline ">
                            {{ form.name }}

                            <label style="text-align: center" for='item'></label>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12 m12'>
                        &ensp;Precio del producto:
                        <div class="input-field inline">
                            {{ form.price }}
                            <label style="text-align: center" for='price'></label>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12 m12'>
                        &ensp;Stock del producto:
                        <div class="input-field inline">
                            {{ form.stock }}
                            <label style="text-align: center" for='stock'></label>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12 m12'>
                        &ensp;Categorias:
                        {{ form.categories }}
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12 m12">
                                    {{ form.description }}
                                    <label for="id_description">
                                        <div class="row">
                                            <div class="col s6"><i class="material-icons prefix col s4">mode_edit</i>
                                            </div>
                                            <div class="col s6">Descripción</div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    Selecciona una imagen previa:
                </div>
                <div id="icon-matrix">
                    <div class="row ">
                        <input class="with-gap" name="icon-button" type="radio" id="test1" value='bread'/>
                        <label for="test1"><img style="max-width: 50px;" src="{% static 'img/bread.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test2" value='breakfast'/>
                        <label for="test2"><img style="max-width: 50px;" src="{% static 'img/breakfast.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test3" value='burger'/>
                        <label for="test3"><img style="max-width: 50px;" src="{% static 'img/burger.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test4" value='chicken'/>
                        <label for="test4"><img style="max-width: 50px;" src="{% static 'img/chicken.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test5" value='chicken2'/>
                        <label for="test5"><img style="max-width: 50px;" src="{% static 'img/chicken2.png' %}"></label>
                    </div>
                    <div class="row">
                        <input class="with-gap" name="icon-button" type="radio" id="test6" value='chocolate'/>
                        <label for="test6"><img style="max-width: 50px;" src="{% static 'img/chocolate.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test7" value='coke'/>
                        <label for="test7"><img style="max-width: 50px;" src="{% static 'img/coke.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test8" value='cupcake'/>
                        <label for="test8"><img style="max-width: 50px;" src="{% static 'img/cupcake.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test9" value='donut'/>
                        <label for="test9"><img style="max-width: 50px;" src="{% static 'img/donut.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test10" value='jelly'/>
                        <label for="test10"><img style="max-width: 50px;" src="{% static 'img/jelly.png' %}"></label>
                    </div>
                    <div class="row ">
                        <input class="with-gap" name=name="icon-button" type="radio" id="test11" value='fish'/>
                        <label for="test11"><img style="max-width: 50px;" src="{% static 'img/fish.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test12" value='fries'/>
                        <label for="test12"><img style="max-width: 50px;" src="{% static 'img/fries.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test13" value='hot-dog'/>
                        <label for="test13"><img style="max-width: 50px;" src="{% static 'img/hot-dog.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test14" value='icecream'/>
                        <label for="test14"><img style="max-width: 50px;" src="{% static 'img/icecream.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test15" value='juice'/>
                        <label for="test15"><img style="max-width: 50px;" src="{% static 'img/juice.png' %}"></label>
                    </div>
                    <div class="row ">
                        <input class="with-gap" name=name="icon-button" type="radio" id="test16" value='lettuce'/>
                        <label for="test16"><img style="max-width: 50px;" src="{% static 'img/lettuce.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test17" value='pizza'/>
                        <label for="test17"><img style="max-width: 50px;" src="{% static 'img/pizza.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test18" value='spaguetti'/>
                        <label for="test18"><img style="max-width: 50px;"
                                                 src="{% static 'img/spaguetti.png' %}"></label>
                        <input class="with-gap" name="icon-button" type="radio" id="test19" value='rice'/>
                        <label for="test19"><img style="max-width: 50px;" src="{% static 'img/rice.png' %}"></label>

                    </div>
                </div>

                <div id="file-upload" class="row">
                    <!--Default version-->
                    <div class="col m3">
                        <p>Imagen del</p>
                        <p>producto:</p>
                    </div>
                    <div class="col m9">
                        <div class="dropify-wrapper touch-fallback">
                            <div class="dropify-message">
                                <div class="row">
                                    <div class="col s4"></div>
                                    <div class="col s4">
                                        <i class="material-icons tiny">cloud_upload</i>
                                    </div>
                                    <div class="col s4"></div>
                                </div>
                                <p class="center-align">Arrastre y suelte un archivo aquí o haga click</p>
                                <p class="dropify-error center-align">Sorry, this file is too large</p>
                            </div>
                            {{ form.image }}
                            <button type="button" class="dropify-clear">Remove</button>
                            <div class="dropify-preview"><span class="dropify-render"></span>
                                <div class="dropify-infos">
                                    <div class="dropify-infos-inner">
                                        <p class="dropify-filename">

                                            <!--<span class="file-icon"></span>-->
                                            <span class="dropify-filename-inner"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class='row'>
                    <div class='col s12'>
                        <a class='red-text text-accent-2'><b>{{ error_message }}</b></a>
                        <a class='blue-text text-accent-2'><b>{{ message }}</b> </a>

                    </div>
                </div>
                <div class='row'>
                    <button class='col l5 offset-l4 btn btn-large waves-effect button teal'
                            href="{% url 'home' %}" type="submit">Agregar<i
                            class="material-icons right">send</i></button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}