{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script type="text/javascript" src=""></script> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <!--<script src="http://materializecss.com/templates/starter-template/js/init.js"></script>-->

    <!-- Ramda for functional programming patterns -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.24.1/ramda.min.js" integrity="sha256-yF1J6hzNIWN398K1d+n1XXGC3JEchH55G05dxM+rsFk=" crossorigin="anonymous"></script>

    {% load static %}
    <script src="{% static "js/cookies.js" %}"></script>

    <script>
        $(function () {
            $('.button-collapse').sideNav();
        });
    </script>


</head>

<body>
<div id="wrapper">
    <header>
        <nav class="top-nav">
            <div class="nav-wrapper teal lighten-1">
                <a href="#" class="brand-logo right"><img
                        style="max-height: 65px!important;  padding: 8px 0!important;"
                        class="circle" src="{% static 'img/logo.png' %}"></a>
                <a href="#" data-activates="slide-out"
                   class="left button-collapse btn-floating btn-large waves-effect waves-light"><i
                        class="material-icons">menu</i></a>
                <a class="center page-title"></a>
            </div>
        </nav>
        <div id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
            <ul style="margin-top: 0">
                <div class="userView">
                    {% if user.user.is_authenticated %}
                    <a href="{% url 'edit_account' %}"><i class="material-icons right grey-text text-lighten-2"
                       style="position: absolute; bottom: 0.5em; right: 0.5em; padding: 0 0 !important;">settings</i></a>
                    {% endif %}
                    <div class="background" style="height:175px;">
                        <img src="{% static "img/background4.png" %}">
                    </div>
                    {% if not user.user.is_authenticated %}
                        <a href="#"><img style="margin-top: 16%;" class="circle"
                                         src="{% static 'img/AvatarPenguin.png' %}"></a>
                    {% else %}
                        <a href="#"><img style="margin-top: 16%;" class="circle"
                                         src="/media/{{ user.avatar }}"></a>
                    {% endif %}

                    <a href="#"><span style="margin-left: 5%;"
                                      class="white-text name">{{ user.user.username|default:"Invitado" }}</span></a>
                </div>

                <li style="padding-top: 0.5em"></li>
                {% if not user.user.is_authenticated %}
                    <li><a href="{% url 'index' %}"><i class="material-icons">home</i>Inicio</a></li>
                    <li><a href="{% url 'login' %}"><i class="material-icons">account_circle</i>Iniciar
                        Sesión</a></li>
                {% else %}
                    <li><a href="{% url 'home' %}"><i class="material-icons">home</i>Inicio</a></li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a>
                    </li>
                    {% if user.tipo >= 2 %}
                        <li><a href="{% url 'stock' %}"><i class="material-icons">list</i>Editar Stock</a></li>
                        <li><a href="{% url 'stats' %}"><i
                                class="material-icons">trending_up</i>Estadísticas</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="divider"></div>
                    </li>
                    {% if user.tipo == 3 %}
                        <li><a class="subheader">Activo</a></li>
                        <li>
                            <script>
                                $ajaxSetup();
                                function check_in() {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/ajax/check_in/',
                                        dataType: 'json',
                                        success: function () {
                                            location.reload();
                                        },
                                        /* revert lever if request fails */
                                        error: function () {
                                            const $checkbox = $('.check_in');
                                            $checkbox.prop('checked', !$checkbox.prop('checked'));
                                        }
                                    })
                                }
                                $(function () {
                                    $('.check_in').click(check_in);
                                });
                            </script>
                            <div class="switch" style="margin-left: 80px;">
                                <label>
                                    No<input type="checkbox" class="check_in" {% if vendor.activo %}
                                             checked {% endif %}><span
                                        class="lever"></span>Sí
                                </label>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
                {% block filters %} {% endblock %}
            </ul>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</div>
</body>

</html>