{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script type="text/javascript" src=""></script> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <!--<script src="http://materializecss.com/templates/starter-template/js/init.js"></script>-->

    {% load static %}
    <script src="{% static "js/cookies.js" %}"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>

        let global_lat = 0;
        let global_lng = 0;

        function geo(pos) {
            global_lat = pos.coords.latitude;
            global_lng = pos.coords.longitude
        }
        $(document).ready(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(geo);
            }
            else {
                alert("tu wea no tiene gps"); // TODO: cambiar
            }
        });
        $(function () {
            $('.button-collapse').sideNav();
        });
        $ajaxSetup();
        function getLocation() {
            showPosition()
        }
        function showPosition() {
            $.ajax({
                type: 'POST',
                url: '/ajax/alerta/',
                dataType: 'json',
                data: {
                    lat: global_lat,
                    lng: global_lng,
                }
            })
        }

        Pusher.logToConsole = true;

        let pusher = new Pusher('160461660c08a8b505b0', {
            cluster: 'us2',
            encrypted: true
        });

        let rad = function (x) {
            return x * Math.PI / 180;
        };

        let getDistance = function (p1, p2) {
            let R = 6378137; // Earth’s mean radius in meter
            let dLat = rad(p2['lat'] - p1['lat']);
            let dLong = rad(p2['lng'] - p1['lng']);
            let a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(rad(p1['lat'])) * Math.cos(rad(p2['lat'])) *
                Math.sin(dLong / 2) * Math.sin(dLong / 2);
            let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            return R * c; // returns the distance in meter
        };

        let data_server = null;
        let channel = pusher.subscribe('my-channel');
        {% if user.tipo >= 1 %}
            channel.bind('my-event', function (data) {
                data_server = data;
                console.log(data_server);
                noti();
            });
            toastr.options.closeDuration = 300;
            let noti = function () {
                if (window.Notification && Notification.permission !== "denied") {
                    Notification.requestPermission(function (status) {
                        if (getDistance({lat: data_server['lat'], lng: data_server['lng']}, {
                                lat: global_lat,
                                lng: global_lng
                            }) <= 50) {
                            toastr.warning(data_server.message, {timeOut: 5000});
                            navigator.vibrate([2000, 2000, 2000]);
                            /*let n = new Notification('Title', {
                             body: data_server.message,
                             icon: '% static 'img/AvatarVendedor1.png' %}' // optional
                             });*/
                        }
                    })
                }
            };
        {% endif %}


    </script>


</head>

<body>
<div id="wrapper">
    <header>
        <nav class="top-nav">
            <div class="nav-wrapper teal lighten-1">
                <a href="#" class="brand-logo right"><img
                        style="max-height: 65px!important;  padding: 8px 0!important;"
                        class="circle" src="{% static 'img/logo.png' %}"></a>
                <a href="#" data-activates="slide-out"
                   class="left button-collapse btn-floating btn-large waves-effect waves-light"><i
                        class="material-icons">menu</i></a>
                <a class="center page-title"></a>
            </div>
        </nav>
        <div id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
            <ul style="margin-top: 0">
                <div class="userView">
                    {% if user.user.is_authenticated %}
                        <a href="{% url 'edit_account' %}"><i class="material-icons right grey-text text-lighten-2"
                                                              style="position: absolute; bottom: 0.5em; right: 0.5em; padding: 0 0 !important;">settings</i></a>
                    {% endif %}
                    <div class="background" style="height:175px;">
                        <img src="{% static "img/background4.png" %}">
                    </div>
                    {% if not user.user.is_authenticated %}
                        <a href="#"><img style="margin-top: 16%;" class="circle"
                                         src="{% static 'img/AvatarPenguin.png' %}"></a>
                    {% else %}
                        <a href="#"><img style="margin-top: 16%;" class="circle"
                                         src="/media/{{ user.avatar }}"></a>
                    {% endif %}

                    <a href="#"><span style="margin-left: 5%;"
                                      class="white-text name">{{ user.user.username|default:"Invitado" }}</span></a>
                </div>

                <li style="padding-top: 0.5em"></li>
                {% if not user.user.is_authenticated %}
                    <li><a href="{% url 'index' %}"><i class="material-icons">home</i>Inicio</a></li>
                    <li><a href="{% url 'login' %}"><i class="material-icons">account_circle</i>Iniciar
                        Sesión</a></li>
                {% else %}
                    <li><a href="{% url 'home' %}"><i class="material-icons">home</i>Inicio</a></li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a>
                    </li>
                    {% if user.tipo >= 2 %}
                        <li><a href="{% url 'stock' %}"><i class="material-icons">list</i>Editar Stock</a></li>
                        <li><a href="{% url 'stats' %}"><i
                                class="material-icons">trending_up</i>Estadísticas</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="divider"></div>
                    </li>
                    {% if user.tipo == 3 %}
                        <li><a class="subheader">Activo</a></li>
                        <li>
                            <script>
                                //$ajaxSetup();
                                function check_in() {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/ajax/check_in/',
                                        dataType: 'json',
                                        success: function () {
                                            location.reload();
                                        },
                                        /* revert lever if request fails */
                                        error: function () {
                                            const $checkbox = $('.check_in');
                                            $checkbox.prop('checked', !$checkbox.prop('checked'));
                                        }
                                    })
                                }
                                $(function () {
                                    $('.check_in').click(check_in);
                                });
                            </script>
                            <div class="switch" style="margin-left: 80px;">
                                <label>
                                    No<input type="checkbox" class="check_in" {% if vendor.activo %}
                                             checked {% endif %}><span
                                        class="lever"></span>Sí
                                </label>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
                {% if user.tipo == 1 or not user.user.is_authenticated %}
                    <li><a class="subheader">Filtros</a></li>
                    {% if user.tipo == 1 %}
                        <li>
                            <div class="switch" style="margin-left: 10px;">
                                <label>
                                    <input type="checkbox"><span class="lever"></span>Sólo mostrar favoritos
                                </label>
                            </div>
                        </li>
                    {% endif %}
                    <li>
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <input type="checkbox"><span class="lever"></span>Snacks
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <input type="checkbox"><span class="lever"></span>Almuerzos
                            </label>
                        </div>
                    </li>

                {% endif %}
                {% if user.tipo >= 1 %}
                    <li><a onclick="getLocation()"><i class="material-icons">warning</i>Enviar Alerta</a></li>
                {% endif %}

            </ul>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</div>
</body>

</html>