{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
        $ajaxSetup();

        function delete_product() {
            console.log('click');
            $.ajax({
                type: "POST",
                url: '/ajax/delete_product/',
                data: {
                    id: {{ product.id }}
                },
                dataType: 'json',
                success: function () {
                    $(location).attr('href', '/app/home')
                }
            });
        }
    </script>
    <div class="section"></div>

    <h4 class="teal-text" style="text-align: center;">Editar Item</h4>
    <div class="section"></div>

    <div class="container">
        <div class="z-depth-1 grey lighten-4 row"
             style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0 48px; border: 1px solid #EEE;">

            <form class="col s12 m12" method="post" enctype=multipart/form-data>{% csrf_token %}
                <div class='row'>
                    <div class='col s16 m12'>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/media/{{ product.imagen }}" style="width: 100%; height: auto">
                            </div>
                        </div>
                    </div>
                    <div class="col m6">
                        <div class='row'>
                            <div class='input-field col s12 m12'>
                                &ensp;Nombre del producto:
                                <div class="input-field inline ">
                                    {{ form.name }}
                                    <label style="text-align: center" for='name'></label>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12 m12'>
                                &ensp;Precio del producto:
                                <div class="input-field inline">
                                    {{ form.price }}
                                    <label style="text-align: center" for='price'></label>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='input-field col s12 m12'>
                                &ensp;Stock del producto:
                                <div class="input-field inline">
                                    {{ form.stock }}
                                    <label style="text-align: center" for='stock'></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row' style="padding-bottom: 3em">
                    <div class='input-field col s12 m12'>
                        &ensp;Categorias:
                        {{ form.categories }}
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12 m12">
                                {{ form.description }}
                                <label for="icon_prefix2">
                                    <div class="row">
                                        <div class="col s6"><i class="material-icons prefix col s3">mode_edit</i></div>
                                        <div class="col s6">Descripción</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <p>Cambiar Foto:</p>
                </div>
                <div id="file-upload" class="row">
                    <!--Default version-->
                    <div class="col s12">
                        <div class="dropify-wrapper touch-fallback">
                            <div class="dropify-message">
                                <div class="row">
                                    <div class="col s4"></div>
                                    <div class="col s4">
                                        <i class="material-icons tiny">cloud_upload</i>
                                    </div>
                                    <div class="col s4"></div>
                                </div>
                                <p class="center-align">Arrastre y suelte un archivo aquí o haga click</p>
                                <p class="dropify-error center-align">Sorry, this file is too large</p>
                            </div>
                            {{ form.image }}
                            <button type="button" class="dropify-clear">Remove</button>
                            <div class="dropify-preview"><span class="dropify-render"></span>
                                <div class="dropify-infos">
                                    <div class="dropify-infos-inner">
                                        <p class="dropify-filename">

                                            <!--<span class="file-icon"></span>-->
                                            <span class="dropify-filename-inner"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class='row'>
                    <a href="{% url 'home' %}" class='col m4 btn btn-large waves-effect button red'
                       onclick="delete_product()">Borrar<i
                            class="material-icons right">delete</i></a>
                    <a class='col m4 btn btn-large waves-effect button teal red'
                       href="{% url 'home' %}">Cancelar<i
                            class="material-icons right">not_interested</i></a>
                    <button class='col m4 btn btn-large waves-effect button teal green' type="submit">Modificar<i
                            class="material-icons right">done</i></button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}