{% extends 'app/base.html' %}
{% load static %}

{% block content %}

    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
        $ajaxSetup();

    </script>
    <div class="section"></div>
    <script>
        $ajaxSetup();

        function stock(action, pid) {
            //console.log('click');
            $.ajax({
                type: "POST",
                url: '/ajax/stock/',
                dataType: 'json',
                data: {
                    action: action, // true para suma y false para resta
                    id: pid
                },
                success: function (response) {
                    let new_stock = response['new_stock'];
                    $('#stock_'.concat(pid)).text(new_stock);
                }

            });
        }
    </script>
    <h4 class="teal-text" style="text-align: center;">Editar Stock</h4>
    <div class="section"></div>
    <div id="profile-page-content" class="row">
        <div id="profile-page-wall" class="col s12 m8">
            <div class="z-depth-1 section">
                <div class="row" style="flex-wrap: wrap">
                    {% for product in products %}

                        <div class="col m6 l4">
                            <div class="card">
                                <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                    <img class="activator responsive-img center-block"
                                         style="max-width: 30%; margin-top:20px; margin-bottom:20px;"
                                         src="{% static product.icon.url %}">
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <span class="card-title activator grey-text text-darken-4">{{ product.name }}</span>
                                        <h6 class="col m4">Stock</h6>
                                    </div>

                                    <div class="row ">
                                        <a onclick="stock(false,{{ product.id }})"
                                           class="waves-effect waves-teal btn-flat stock-button col m4" style="font-size: 32px;
    font-weight: 600; padding: 0 1.5rem!important; text-align: center">&ndash;</a>
                                        <p class="col m4" style="text-align: center"><a id="stock_{{ product.id }}"
                                                                                        class="teal-text"
                                                                                        style="font-size: 20px;">{{ product.stock }}</a>
                                        </p>
                                        <a onclick="stock(true, {{ product.id }})"
                                           class="waves-effect waves-teal btn-flat stock-button col m4" style="font-size: 32px;
    font-weight: 600; padding: 0 1.5rem!important; text-align: center">+</a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}